## Deliverable 2. Create a Customer Travel Destinations Map.

In [28]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [29]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Bethel,US,41.3712,-73.4140,77.49,65,40,5.75,scattered clouds
1,1,Atuona,PF,-9.8000,-139.0333,77.72,73,74,18.28,broken clouds
2,2,Ostrovnoy,RU,68.0531,39.5131,45.41,87,43,20.02,scattered clouds
3,3,Oktyabrskoye,RU,43.0645,44.7417,48.34,93,100,2.24,light intensity drizzle
4,4,Saldanha,ZA,-33.0117,17.9442,55.45,71,2,22.01,clear sky

In [31]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 68
What is the maximum temperature you would like for your trip? 75

In [32]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
26,26,Holt,US,42.6406,-84.5153,74.95,86,75,5.75,mist
31,31,Lagoa,PT,39.0500,-27.9833,71.01,91,91,11.83,overcast clouds
36,36,Santa Lucia,ES,27.9117,-15.5407,69.76,70,20,27.63,few clouds
40,40,Saint-Philippe,RE,-21.3585,55.7679,72.99,83,36,15.59,scattered clouds
48,48,Jamestown,US,42.0970,-79.2353,71.19,85,90,3.00,overcast clouds
61,61,Rikitea,PF,-23.1203,-134.9692,73.38,64,20,17.83,few clouds
67,67,Seoni,IN,22.0833,79.5333,73.31,90,86,3.00,overcast clouds
70,70,Price,US,39.5994,-110.8107,70.12,32,1,4.61,clear sky
72,72,Saint-Pierre,RE,-21.3393,55.4781,73.08,70,40,2.30,scattered clouds
78,78,Zemio,CF,5.0314,25.1361,71.47,88,74,3.47,light rain

In [33]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0         0
City               0
Country            0
Lat                0
Lng                0
Max Temp           0
Humidity           0
Cloudiness         0
Wind Speed         0
Current Weather    0
dtype: int64

In [34]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
df=preferred_cities_df.dropna()
df

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
26,26,Holt,US,42.6406,-84.5153,74.95,86,75,5.75,mist
31,31,Lagoa,PT,39.0500,-27.9833,71.01,91,91,11.83,overcast clouds
36,36,Santa Lucia,ES,27.9117,-15.5407,69.76,70,20,27.63,few clouds
40,40,Saint-Philippe,RE,-21.3585,55.7679,72.99,83,36,15.59,scattered clouds
48,48,Jamestown,US,42.0970,-79.2353,71.19,85,90,3.00,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
659,659,Show Low,US,34.2542,-110.0298,70.30,33,1,10.36,clear sky
670,670,Tinos,GR,37.5375,25.1634,68.34,63,20,21.85,few clouds
671,671,Songea,TZ,-10.6833,35.6500,70.92,43,41,5.88,scattered clouds
683,683,Mananjary,MG,-21.2167,48.3333,72.43,84,3,10.94,clear sky
687,687,Teguise,ES,29.0605,-13.5640,71.82,64,20,18.41,few clouds

In [35]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
26,Holt,US,74.95,mist,42.6406,-84.5153,
31,Lagoa,PT,71.01,overcast clouds,39.0500,-27.9833,
36,Santa Lucia,ES,69.76,few clouds,27.9117,-15.5407,
40,Saint-Philippe,RE,72.99,scattered clouds,-21.3585,55.7679,
48,Jamestown,US,71.19,overcast clouds,42.0970,-79.2353,
61,Rikitea,PF,73.38,few clouds,-23.1203,-134.9692,
67,Seoni,IN,73.31,overcast clouds,22.0833,79.5333,
70,Price,US,70.12,clear sky,39.5994,-110.8107,
72,Saint-Pierre,RE,73.08,scattered clouds,-21.3393,55.4781,
78,Zemio,CF,71.47,light rain,5.0314,25.1361,

In [36]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows(): 
    

    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"]=f"{lat},{lng}"

    # 6e. Make request and retrieve the JSON data from the search. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
        print("Hotel found!")
        
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found... skipping.
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found... skipping.
Hotel found!
Hotel found!
Hotel not found... skipping.
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found... skipping.
Hotel found!
Hotel found!
Hotel not found... skipping.
Hotel found!
Hotel found!
Hotel found!
Hotel not found... skipping.
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found... skipping.
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel not found... skipping.
Hotel found!
Hotel found!
Hotel found!
Hotel found!
Hotel found!

In [37]:
hotel_df

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
26,Holt,US,74.95,mist,42.6406,-84.5153,Causeway Bay Lansing Hotel & Convention Center
31,Lagoa,PT,71.01,overcast clouds,39.0500,-27.9833,Casa Das Faias
36,Santa Lucia,ES,69.76,few clouds,27.9117,-15.5407,Las Tirajanas
40,Saint-Philippe,RE,72.99,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
48,Jamestown,US,71.19,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...
659,Show Low,US,70.30,clear sky,34.2542,-110.0298,Hampton Inn & Suites Show Low-Pinetop
670,Tinos,GR,68.34,few clouds,37.5375,25.1634,Hotel Poseidonio
671,Songea,TZ,70.92,scattered clouds,-10.6833,35.6500,mtakuja
683,Mananjary,MG,72.43,clear sky,-21.2167,48.3333,Vahiny Lodge
687,Teguise,ES,71.82,few clouds,29.0605,-13.5640,B&B La Casona de Nazaret

In [43]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.loc[hotel_df["Hotel Name"]=="",["Hotel Name"]]=[np.nan]
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
26,Holt,US,74.95,mist,42.6406,-84.5153,Causeway Bay Lansing Hotel & Convention Center
31,Lagoa,PT,71.01,overcast clouds,39.0500,-27.9833,Casa Das Faias
36,Santa Lucia,ES,69.76,few clouds,27.9117,-15.5407,Las Tirajanas
40,Saint-Philippe,RE,72.99,scattered clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
48,Jamestown,US,71.19,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...
659,Show Low,US,70.30,clear sky,34.2542,-110.0298,Hampton Inn & Suites Show Low-Pinetop
670,Tinos,GR,68.34,few clouds,37.5375,25.1634,Hotel Poseidonio
671,Songea,TZ,70.92,scattered clouds,-10.6833,35.6500,mtakuja
683,Mananjary,MG,72.43,clear sky,-21.2167,48.3333,Vahiny Lodge
687,Teguise,ES,71.82,few clouds,29.0605,-13.5640,B&B La Casona de Nazaret

In [44]:
# 8a. Create the output File (CSV)
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City_ID")

In [46]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [47]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))